.card{
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 20px 0px;
    justify-content: space-around;
    align-self: center;
}

.card img{
	border-radius: 4px;
	width: 250px;
    height: 150px;

 }

 .card h3{

 	    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    flex-grow: 1;
    padding-left: 30px;
    font-size: 22px;
 }
